.button {
    margin: 8px;
    background-color: #95389e;
    transition: background 0.6s;
    color: #ffffff;
  }
  .button:hover {
    color: #ffffff;
    opacity: 0.8;
  }
  .btn-cancel {
    background-color: #f1f1f1;
    border: 1px solid #95389e;
   
  }
  .btn-cancel a{
     color: #95389e;
  }
  .btn-cancel:hover {
    color: #95389e;
  }
  
  .btn-group {
    width: 50%;
  }

  .btn-menu{
      position: absolute;
      top: 1.5%;
      right: 3%;
      z-index: 2;
  }
  