.notification {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.notification p {
    margin: 0px;
    display: flex;
    flex-grow: 1;
}

.error {
    border-left: 5px solid rgb(199, 16, 16);
    color: rgb(199, 16, 16);
    background-color: rgba(199, 16, 16, .1);
}

.ok {
    border-left: 5px solid rgb(40, 189, 27);
    color: rgb(40, 189, 27);
    background-color: rgba(40, 189, 27, .1);
}

.close {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    height: 50%;
    border: none;
    border-radius: 3px;
    color: rgb(199, 16, 16);
}

.close-ok {
    color: rgb(40, 189, 27);
}

.close:hover {
    font-weight: bolder;
}